<!-- If you need more text content here are a few examples you can use -->
<section class="write-section">
  <!-- Title and paragraph -->
  <h2>Topic Title</h2>
  <p class="section-text intro">
    Topic Content: Now it's time to practice what you’ve learned! Follow the
    step-by-step instructions to create an itinerary element with various tags,
    including headings, lists, images, and paragraphs.
  </p>

  <!-- Step 1: Do Something-->
  <!-- Or Title  -->
  <section class="write-step">
    <h4 class="subsection-title">Step 1: Add a Title</h4>
    <!-- Explantory content of step or topic -->
    <p class="section-text">
      Go to line <code>10</code> in your code where you see <strong>X</strong>.
      Replace <strong>X</strong> with an opening and closing
      <code>&lt;h1&gt;</code> heading with the title "3-Day Trip to Paris".
    </p>
    <div class="demo">
      <pre><code>
  &lt;h1&gt;3-Day Trip to Paris&lt;/h1&gt;
      </code></pre>
    </div>
  </section>

  <!-- Step 7: Add Image -->
  <section class="write-step">
    <h4 class="subsection-title">Step 7: Add an Image</h4>
    <p class="section-text">
      On line <code>17</code>, add an <code>&lt;img&gt;</code> tag with the
      source URL:
      <code
        >https://sc-course-materials.s3.us-west-2.amazonaws.com/frontend-course/assets/images-global/retrotape.png</code
      >. Set the <code>alt</code> attribute to “Iconic Paris scene.”
    </p>
    <div class="demo">
      <pre><code>
&lt;img src="https://sc-course-materials.s3.us-west-2.amazonaws.com/frontend-course/assets/images-global/retrotape.png" alt="Iconic Paris scene" /&gt;
      </code></pre>
    </div>
    <div class="tip-box">
      <strong>Tip:</strong> You may need to just copy the entire url and then
      paste it into the code editor. Sometimes that is easier than typing
      something long out. Highlight with your cursor what you want to copy.
      Right click or use a shortcut to copy & paste. <br />
      <strong>Copy: </strong>CTRL+C <strong>Paste:</strong> CTRL+V
    </div>
  </section>
</section>
